import { Observable } from 'rxjs/Observable';
import { HttpParams } from '@angular/common/http';

export interface ExtraParams {
  [key: string]: string;
}

export type ObserveType = 'body' | 'events' | 'response';
export type ResponseType = 'arraybuffer' | 'blob' | 'json' | 'text';
export type Hash = {[key: string]: string | string[]};

export interface RequestOptions {
  body?: any;
  headers?: Hash;
  observe?: ObserveType;
  params?: Hash | HttpParams;
  reportProgress?: boolean;
  responseType?: ResponseType;
  withCredentials?: boolean;
}

export interface HTTPCallConfig {
  path: string;
  method: string;
  requestOptions: RequestOptions;
  className: string;
}

export class APIConfiguration {
  {{appName}}: {
    basePath: string;
    pid?: string;
    requestInterceptor: (config: HTTPCallConfig) => HTTPCallConfig;
    responseInterceptor?: (responseObservable: Observable<any>, config: HTTPCallConfig) => Observable<any>;
  }
}